{% extends 'layout.html' %}

{% block content %}
<img src="logo-istari.png" />
	<h1>i-star-i</h1>
	<p>i-star-i is a tool for journal editors that aims to improve peer-review of publications that make use of code. It matches possible appropriate peer-reviewers to a publication by allowing editors to search the i-star-i database by discipline and coding skills. If you would to make yourself available as a code-literate peer-reviewer, please subscribe below. If you are an editor, please use the search button below.</p>
	<h1>About i-star-i</h1>
	<p>i-star-i is an open-source project by Sorrel Harriet, Diego Alonso Alvarez and Alessandro Felder as part of the SSI Collaborations Workshop 2019 Hackday. The GitHub repository for i-star-i can be found here, with the documentation accessible via the GitHub readme file. The first release of i-star-i can be cited as #TODO.</p>

{% endblock %}
