{% extends 'layout.html' %}

{% block content %}
<center>
<img src="{{url_for('static', filename='logo-istari.png')}}" />
</center>

<div class="container">
  <div class="jumbotron">
	<h1>i-star-i</h1>
	<p>Welcome to i-star-i. i-star-i (<em>"ee-star-ee"</em>) is an online tool where you can sign-up to be available as a code-literate peer-reviewer and/or collaborators or find one. If you would to make yourself available as a code-literate peer-reviewer/collaborator, please register below. If you are looking for a code-literate peer-reviewer/collaborator, please use the search button below.</p>
  </div>
</div>

<div class="form-group">
		<a class="form-control btn-primary" href="{{ url_for('register')}}" style="color: #ffffff"><center>register</center></a>
	</div>
<div class="form-group">
		<a class="form-control btn-primary" href="{{ url_for('search')}}" style="color: #ffffff")><center>search</center></a>
	</div>

<h1>About i-star-i</h1>
	<p>i-star-i is an open-source project by Sorrel Harriet, Diego Alonso Alvarez and Alessandro Felder as part of the SSI Collaborations Workshop 2019 Hackday. The GitHub repository for i-star-i can be found <a href=https://github.com/i-star-i/istari style="color: #800080">here</a>, with the documentation accessible via the GitHub readme file.</p>

{% endblock %}
