{% extends 'layout.html' %}

{% block content %}
<img src="logo-istari.png" />
	<h1>i-star-i</h1>
	<p>i-star-i (<em>ee-star-ee</em>)is where you can sign-up to be available as a code-literate peer-reviewer and/or collaborators or find one. If you would to make yourself available as a code-literate peer-reviewer/collaborator, please subscribe below. If you are looking for a code-literate peer-reviewer/collaborator, please use the search button below.</p>
	<h1>About i-star-i</h1>
	<p>i-star-i is an open-source project by Sorrel Harriet, Diego Alonso Alvarez and Alessandro Felder as part of the SSI Collaborations Workshop 2019 Hackday. The GitHub repository for i-star-i can be found here, with the documentation accessible via the GitHub readme file.</p>

{% endblock %}
