{% extends 'layout.html' %}

{% block content %}
<h1>Locate a reviewer on i-star-i</h1>
<form action="/results" method="POST">
	<div class="form-group">
		<label for="requirement">What are you looking for?</label><br/>
		<input type="radio" name="requirement" value="1" checked>
		Code-literate peer reviewer<br/>
		<input type="radio" name="requirement" value="2">
		Potential collaborator
	</div>
	<div class="form-group">
		<label for="subject_area">Select subject areas</label>
		<select class="form-control dropdown-primary" name="subject_area" multiple searchable="Search here..">
			<!-- #TODO make the options dynamic, and filter the other ones -->
			<option value="1">Medicine &amp; dentistry</option>
			<option value="2">Subjects allied to medicine</option>
			<option value="3">Biological sciences</option>
			<option value="4">Veterinary science</option>
			<option value="5">Agriculture &amp; related subjects</option>
			<option value="6">Physical sciences</option>
			<option value="7">Mathematical sciences</option>
		</select>
	</div>
	<div class="form-group">
		<label for="disciplines">Select principle subjects</label>
		<select class="form-control multi-select dropdown-primary" name="disciplines" multiple searchable="Search here..">
			<!-- #TODO make the options dynamic -->
			<option value="1">Broadly-based programmes within medicine &amp; dentistry</option>
			<option value="2">Pre-clinical medicine</option>
		</select>
	</div>
	<div class="form-group">
		<label for="subject_area">Select principle languages</label>
		<select class="form-control multi-select" name="languages" multiple searchable="Search here..">
			<!-- #TODO make the options dynamic -->
			<option value="1">Python</option>
			<option value="2">C</option>
			<option value="3">C++</option>
			<option value="4">C&#35;</option>
			<option value="5">Fortran</option>
		</select>
	</div>
	<div class="form-group">
		<button class="form-control btn-primary" type="submit">submit</button>
	</div>
</form>
{% endblock %}
